* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("imagens/bg.png");
}

.burguer h2 {
  color: #ffae00;
}

header {
  background-color: #1e1f22;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 18px;
}

h1,
h2 {
  text-align: center;
  margin: 20px;
  color: white;
}

h2 {
  color: #ffae00;
}

.boxProduto {
  display: flex;
  background-color: rgba(37, 37, 37, 0.8);
  max-width: 890px;
  margin: 20px auto;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.boxImg img {
  width: 400px;
  align-items: center;
  flex-wrap: wrap;
}

.boxTexto {
  color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background-color: #ffae00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
